*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.size{
    width: 300px;
    height: auto;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}